<div>
    <b>@QuestionName</b>
</div>
<br />
@if (Answers?.Count > 0)
{
    int count = 0;

    foreach (string s in Answers)
    {
        count++;
        int currCount = count;
        
        @if(IsLikert)
        {
            @* Small Screens - Stack vertically instead*@
            <div class="d-block d-sm-none">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="@count" name="@FormName"
                           @onclick="()=>UpdateAnswer(currCount)">
                    <label class="form-check-label">@s</label>
                </div>
            </div>

            <div class="d-none d-sm-inline">
                <div class="form-check form-check-inline me-4">
                    <input class="form-check-input" type="radio" value="@count" name="@FormName"
                           @onclick="()=>UpdateAnswer(currCount)">
                    <label class="form-check-label">@s</label>
                </div>
            </div>
        }
        else
        {
            <div class="form-check form-check-inline me-4">
                <input class="form-check-input" type="radio" value="@count" name="@FormName"
                       @onclick="()=>UpdateAnswer(currCount)">
                <label class="form-check-label">@s</label>
            </div>
        }
    }

    @if(ShowCommentBox)
    {
        <textarea class="form-control" value="@CommentString"
                  oninput="@UpdateComment" />
    }
}
<br />
<br />
@code {
    [Parameter]
    public bool IsLikert { get; set; }

    private bool ShowCommentBox { get; set; }
    private string CommentString { get; set; } = string.Empty;

    [Parameter]
    public int QuestionNumber { get; set; }

    [Parameter]
    public QuestionnaireObj QuestionObj { get; set; }

    [Parameter]
    public EventCallback OnChangeEvent { get; set; }

    private void UpdateAnswer(int value)
    {
        if (QuestionObj.Id > 0)
        {
            switch (QuestionNumber)
            {
                case 1:
                    QuestionObj.QuestionOneAnswer = value;
                    break;
                case 2:
                    QuestionObj.QuestionTwoAnswer = value;
                    break;
                case 3:
                    QuestionObj.QuestionThreeAnswer = value;
                    break;
                case 4:
                    QuestionObj.QuestionFourAnswer = value;
                    if(value == 1)
                    {
                        ShowCommentBox = true;
                    }
                    else
                    {
                        ShowCommentBox = false;
                    }
                    break;
                case 5:
                    QuestionObj.QuestionFiveAnswer = value;
                    break;
                case 6:
                    QuestionObj.QuestionSixAnswer = value;
                    if (value == 1)
                    {
                        ShowCommentBox = true;
                    }
                    else
                    {
                        ShowCommentBox = false;
                    }
                    break;
                case 7:
                    QuestionObj.QuestionSevenAnswer = value;
                    break;
                case 8:
                    QuestionObj.QuestionEightAnswer = value;
                    break;
                case 9:
                    QuestionObj.QuestionNineAnswer = value;
                    if (value == 2)
                    {
                        ShowCommentBox = true;
                    }
                    else
                    {
                        ShowCommentBox = false;
                    }
                    break;
                case 10:
                    QuestionObj.QuestionTenAnswer = value;
                    break;
                case 11:
                    QuestionObj.QuestionElevenAnswer = value;
                    if (value == 1)
                    {
                        ShowCommentBox = true;
                    }
                    else
                    {
                        ShowCommentBox = false;
                    }
                    break;
                case 12:
                    QuestionObj.QuestionTwelveAnswer = value;
                    break;
                case 14:
                    QuestionObj.QuestionFourteenAnswer = value;
                    break;
                case 15:
                    QuestionObj.QuestionFifteenAnswer = value;
                    break;
                default:
                    break;
            }
            OnChangeEvent.InvokeAsync();
        }
    }

    private async Task UpdateComment(ChangeEventArgs args)
    {
        CommentString = args.Value.ToString();

        if (QuestionObj.Id > 0)
        {
            switch (QuestionNumber)
            {
                case 4:
                    QuestionObj.QuestionFourAnswerString = CommentString;
                    break;
                // case 6:
                //     QuestionObj.QuestionSixAnswerString = CommentString;
                //     break;
                case 9:
                    QuestionObj.QuestionNineAnswerString = CommentString;
                    break;
                case 11:
                    QuestionObj.QuestionElevenAnswerString = CommentString;
                    break;
                default:
                    break;
            }
            OnChangeEvent.InvokeAsync();
        }
    }

    [Parameter]
    public string FormName { get; set; } = "default";

    [Parameter]
    public string QuestionName { get; set; } = "default";

    [Parameter]
    public List<string>? Answers { get; set; }


}
