@page "/a7d5083a-9e8d-47b1-8c47-62387e829df1"
@inject CookCompAPI _api
@inject NavigationManager _nav
@inject PageHistory _page
@inject UserGlobal _user

@if (_user.IsAdmin)
{
    <PageBase>
        <PageTitle>CC - Recipe Manager</PageTitle>
        <h3>Recipes</h3>

        <AlertItem Style="AlertItem.AlertStyle.Warning">
            This page is for the management of recipes. You can add, edit, and delete recipes as well as modify their ingredient lists and steps.
        </AlertItem>

        <div class="grid gap-3">
            @foreach (var r in recipes)
            {
                <RecipeCard Name="@r.Name" Description="@r.Description" ImgUrl="@r.ImgUrl"
                            Duration="@r.Duration" IsVege="@r.IsVege" OnClickCall="() => EditRecipe(r.Id)" />
            }
        </div>
        <ButtonContainer>
            <AddNewButtonControl OnClickCall="AddNewRecipe" />
            <BackButtonControl OnClickCall="PageBack" />
        </ButtonContainer>
    </PageBase>
}

@code {
    protected List<Recipe> recipes = new List<Recipe>();

    protected override async Task OnInitializedAsync()
    {
        recipes = await _api.GetRecipeListAsync(10, 0);
        await base.OnInitializedAsync();
    }

    private void EditRecipe(int recipeId)
    {
        _api.ClearCacheAsync();
        _nav.NavigateTo("/d9ac8ceb-5821-4b8f-bc94-f96c4e2785ca/" + recipeId);
        _page.AddPage("a7d5083a-9e8d-47b1-8c47-62387e829df1");
    }

    private void AddNewRecipe()
    {
        _api.ClearCacheAsync();
        _nav.NavigateTo("/d9ac8ceb-5821-4b8f-bc94-f96c4e2785ca/" + 0);
        _page.AddPage("a7d5083a-9e8d-47b1-8c47-62387e829df1");
    }

    private void PageBack()
    {
        if (_page.IsPrevious())
        {
            _api.ClearCacheAsync();
            _nav.NavigateTo(_page.GetPreviousPage());
        }
        else
        {
            _nav.NavigateTo("/5e3ab173-93a1-43fc-86d1-45c9999cfc85/");
        }
    }
}
