@page "/favourites"
@inject CookCompAPI _api
@inject NavigationManager _nav
@inject UserGlobal _user
@inject PageHistory _page

<PageTitle>CC - Favourites</PageTitle>
<PageBase>
    <h3>Favourites</h3>

    <AlertItem Style="AlertItem.AlertStyle.Warning">
        All saved recipes will be listed on this page.
    </AlertItem>

    <div class="grid gap-3">
        @foreach (var r in recipes)
        {
            <RecipeCard Id="r.Id" UserId="_user.Id" Name="@r.Name" Description="@r.Description" ImgUrl="@r.ImgUrl"
                        Duration="@r.Duration" IsVege="@r.IsVege" OnClickCall="() => OnClickEvent(r.Id)" />
        }
    </div>
    <ButtonContainer>
        <BackButtonControl OnClickCall="PageBack" />
    </ButtonContainer>
</PageBase>

@code {
    protected List<Recipe> recipes = new();

    protected override async Task OnInitializedAsync()
    {
        recipes = await _api.GetFavouriteRecipes(_user.Id);

        if(recipes != null && recipes.Count > 0)
        {

        }
    }

    private void OnClickEvent(int recipeId)
    {
        _nav.NavigateTo("/recipes/view_recipe/" + recipeId);
        _page.AddPage("favourites");
    }

    private void PageBack()
    {
        if(_page.IsPrevious())
        {
            _api.ClearCacheAsync();
            _nav.NavigateTo(_page.GetPreviousPage());
        }
    }
}
