@inherits FormCheckboxBase

@if (IsLabelRight)
{
    <div class="form-check form-switch">
        <input class="@CssClass form-check-input" type="checkbox" role="switch" value="@Value" checked="@Value"
               @oninput="UpdateParentElement" @onchange="OnClick" hidden="@IsHidden" disabled="@IsDisabled" />
        <label class="form-check-label">@Name</label>
        <div class="mb-3" style="font-size:10px;">@ExtraStr</div>
    </div>
}
else if (IsLabelLeft)
{
    <div class="form-check form-check-reverse form-switch">
        <label class="form-check-label">@Name</label>
        <input class="@CssClass form-check-input" type="checkbox" role="switch" value="@Value" checked="@Value"
               @oninput="UpdateParentElement" @onchange="OnClick" hidden="@IsHidden" disabled="@IsDisabled" />
        <div class="mb-3" style="font-size:10px;">@ExtraStr</div>
    </div>
}
else if(NoLabel)
{
    <div class="form-check form-switch">
        <input class="@CssClass form-check-input" type="checkbox" role="switch" value="@Value" checked="@Value"
               @oninput="UpdateParentElement" @onchange="OnClick" hidden="@IsHidden" disabled="@IsDisabled" />
    </div>
}
else
{
    <div class="form-check form-switch">
        <label class="form-check-label">@Name</label><br />
        <input class="@CssClass form-check-input mb-3" type="checkbox" role="switch" value="@Value" checked="@Value"
               @oninput="UpdateParentElement" @onchange="OnClick" hidden="@IsHidden" disabled="@IsDisabled" />
    </div>
}

@code {
    [Parameter]
    public bool IsLabelRight { get; set; } = false;

    [Parameter]
    public bool IsLabelLeft { get; set; } = false;

    [Parameter]
    public bool NoLabel { get; set; } = false;

    [Parameter]
    public string ExtraStr { get; set; } = string.Empty;

    [Parameter]
    public EventCallback OnClick { get; set; }

    public string LabelRightCss
    {
        get
        {
            if (IsLabelRight)
            {
                return "float: right;";
            }
            else
            {
                return "";
            }
        }
    }
}
