@* <div>
    <label>@Name</label><br />
    <InputText @oninput="UpdateParent" @bind-Value="@Value" class="i" />
</div>
<br /> *@
@inherits FormInputBase
<div class="col-sm-@FieldWidth">
    <label>@Name</label><br />
    <input class="@CssClass form-control mb-3" value="@Value" autocomplete="@AutoCompleteStr"
    @onchange="UpdateParentElementStr" hidden="@IsHidden" disabled="@IsDisabled" />
</div>

@code {
    
}
