@inherits FormCheckboxBase

@if(IsLabelRight)
{
    <div class="col-sm-@FieldWidth">
        <input class="@CssClass form-check-input mb-3" type="checkbox" value="@Value" checked="@Value"
               @onchange="UpdateParentElement" hidden="@IsHidden" disabled="@IsDisabled" />
        <label class="form-check-label">@Name</label>
    </div>
}
else
{
    <div class="col-sm-@FieldWidth">
        <label class="form-check-label">@Name</label><br />
        <input class="@CssClass form-check-input mb-3" type="checkbox" value="@Value" checked="@Value"
               @onchange="UpdateParentElement" hidden="@IsHidden" disabled="@IsDisabled" />
    </div>
}

@code {
    [Parameter]
    public bool IsLabelRight { get; set; } = false;

    public string LabelRightCss { 
        get
        {
            if(IsLabelRight)
            {
                return "float: right;";
            }
            else
            {
                return "";
            }
        }
    }
}
