@inherits FormInputBase
<div>
    <label>@Name</label><br />
    <textarea class="@CssClass" value="@Value"
    @oninput="UpdateParentElementStr" hidden="@IsHidden" disabled="@IsDisabled" />
</div>

@code {
    
}
