@using RazorComponents.Inputs
@inherits FormInputBase
<div>
    <label>@Name</label><br />
    <select class="@CssClass" value="@SelectValue" @oninput="UpdateParentElementStr"
            hidden="@IsHidden" disabled="@IsDisabled">
        @foreach (SelectListItem in selectList)
        {
            
        }
    </select>
</div>

@code {
    [Parameter]
    public List<SelectListItem> selectList = new List<SelectListItem>();

    public async void LoadSelect()
    {

    }
}
