@inject CookCompAPI _api
@inherits SelectControlBase
<div>
    <label>@Name</label><br />
    <select class="form-select @CssClass"
            hidden="@IsHidden" disabled="@IsDisabled" @onchange="UpdateParentElement">
            <option value="0">Select Ingredient</option>
        @foreach (Ingredient i in ingList)
        {
            <SelectControlOption Value="@i.Id" Name="@i.Name" />
        }
    </select>
</div>

@code {
    [Parameter]
    public List<Ingredient> ingList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        ingList = await _api.GetIngredientListAsync(10, 0);
        await base.OnInitializedAsync();
    }
}
