@inherits SelectControlBase
@inject CookCompAPI _api

<div class="col-sm-@FieldWidth">
    <label>@Name</label><br />
    <select class="form-select mb-3 @CssClass" hidden="@IsHidden" 
        disabled="@IsDisabled" @onchange="UpdateParentElement">
        @foreach (MeasurementType item in TypeList)
        {
            <SelectControlOption Value="@item.Id" Name="@item.Name"/>
        }
    </select>
</div>

@code {
    public List<MeasurementType> TypeList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        TypeList = await _api.GetMeasurementTypeListAsync();
        await base.OnInitializedAsync();
    }
}
