@page "/ac5c23b5-bf0c-4894-ae80-8b1226daa7b4"
@inject CookCompAPI _api
@inject NavigationManager _nav
@inject PageHistory _page
@inject UserGlobal _user
@implements IDisposable
@inject IJSRuntime JSRuntime;

<PageTitle>Cooking Companion - Task Two</PageTitle>
<PageBase>
    <AlertItem Style="AlertItem.AlertStyle.Warning">
        <div style="font-size:24px;">
            <i class="fas fa-edit fa-fw"></i>
            <b>Task Two</b>
        </div>
        <div style="font-size:20px;">
            Pin the shopping list and check off all ingredients.
        </div>
    </AlertItem>

    @if (isLoading)
    {
        @* Init - Task description and start button *@
        <ButtonContainer>
            <BackButtonControl OnClickCall="GoToIndex" />
            <ButtonControl Name="Start Task" OnBaseClickCall="StartTask" Icon="fas fa-play" Colour="success" />
        </ButtonContainer>
    }
    else
    {
        @* Task content goes here... *@
        @if(list?.Id > 0)
        {
            <PageBase>
            <div class="mb-4">
                <div class="w-shopping-list mx-auto" style="max-width:400px;">
                    <div class="position-relative">
                        <div class=""><u>@list.Name <br /> Ingredient List</u></div>
                            <div class="position-absolute top-0 end-0"><ShoppingPinIcon PinClass="@pinClass" OnClickCallback="ShoppingPinClicked" IsPinned=@pinClicked ColSize="12" /></div>
                    </div>
                    <br />
                    <div>
                        @foreach (ShoppingListItem s in listItems)
                        {
                            var nameString = s.Details.IngredientName;
                            var extraString = s.Details.Quantity + " " + s.Details.MeasurementName;
                            <FormCheckbox OnClick="ListItemChecked" IsLabelRight=true FieldWidth="0" Name="@nameString" ExtraStr="@extraString" @bind-Value="s.HasObtained" />
                        }
                    </div>
                </div>
            </div>
            </PageBase>
        }
        <ButtonContainer>
            <BackButtonControl OnClickCall="GoToIndex" />
            <ButtonControl Name="Skip Task" OnBaseClickCall="FailTask" Icon="fas fa-circle-xmark" Colour="danger" />
        </ButtonContainer>
    }
    <Modal />
</PageBase>
<ModalControl OnClickCall="ConfirmCompleted" HeadStr="Task Two Completed" BodyStr="Please click 'Confirm' to progress to the next task." @ref="@ourModal" />

@code {
    // Object References
    ModalControl ourModal { get; set; }

    // We check to see if user has a task record for this task
    protected override async Task OnInitializedAsync()
    {
        // If this task is already complete, navigate to next task
        if (await _api.CheckTaskStatus(taskId, _user.Id))
        {
            await NextTask();
        }
        else
        {
            // Get the taskObj for this user/taskId
            taskObj = await _api.GetActiveTask(taskId, _user.Id);

            list = await _api.GetShoppingUniqueAsync(1);
            listItems = await _api.GetShoppingItemListAsync(list.Id);

            await ResetTaskAsync();
        }
        await base.OnInitializedAsync();
    }

    // Pin/Checkbox Logic
    private bool pinClicked = false;
    string pinClass = "col-3 shopping-pin-off fas fa-thumbtack";
    private void ShoppingPinClicked()
    {
        pinClicked = !pinClicked;
        if (pinClicked)
        {
            pinClass = "col-3 shopping-pin-on fas fa-thumbtack fa-rotate-90";
        }
        else
        {
            pinClass = "col-3 shopping-pin-off fas fa-thumbtack";
        }
        ListItemChecked();
    }

    private async void ListItemChecked()
    {
        bool allTrue = listItems.All(a => a.HasObtained); // Returns true if all elements are true
        if(allTrue)
        {
            ourModal.OpenModal();
        }
    }

    private async void ConfirmCompleted()
    {
        ourModal.CloseModal();
        TaskCompleted();
    }

    // Page Setup
    ShoppingList list = new();
    List<ShoppingListItem> listItems = new();

    private bool isLoading { get; set; } = true;

    private bool taskStarted { get; set; } = false;

    private bool taskCompleted { get; set; } = false;

    protected int taskId = 2;

    private TaskObj? taskObj = new();

    protected string currentPage = "ac5c23b5-bf0c-4894-ae80-8b1226daa7b4";

    protected string nextPage = "823bce54-0cf9-40a0-9c5d-53921f743093";

    private async Task ResetTaskAsync()
    {
        if (taskObj.Id > 0)
        {
            if (!taskObj.TimeEnded.HasValue && !taskObj.TaskFailed)
            {
                taskObj.TimeStarted = null;
                taskObj.TimeEnded = null;
                taskObj.TaskFailed = false;
                await _api.SaveTaskAsync(taskObj);
            }
        }
    }

    private async void StartTask()
    {
        taskStarted = true;
        DateTime startTime = DateTime.Now;

        if (taskObj?.Id == 0)
        {
            // Create a new task record for this user id
            taskObj = new TaskObj
                {
                    UserId = _user.Id,
                    TaskId = taskId,
                    TimeStarted = startTime
                };
        }
        else
        {
            taskObj.TimeStarted = startTime;
            taskObj.TimeEnded = null;
            taskObj.TaskFailed = false;
        }

        await _api.SaveTaskAsync(taskObj);
        isLoading = false;
        StateHasChanged();
    }

    private async void FailTask()
    {
        if (taskObj.Id > 0)
        {
            if (await JSRuntime.InvokeAsync<bool>(
                "confirm", $"This task will failand you will move to the next task automatically. Confirm?"))
            {
                taskObj.TaskFailed = true;
                await _api.SaveTaskAsync(taskObj);
            }
        }
    }

    private async Task NextTask()
    {
        Dispose();
        _nav.NavigateTo("/" + nextPage);
    }

    public async Task TaskCompleted()
    {
        taskObj.TimeEnded = DateTime.Now;
        await _api.SaveTaskAsync(taskObj);
        taskCompleted = true;
        await NextTask();
    }

    // The following code is to manage page navigation. We want to limit what the user can do
    // when the app is in a scenario
    private IDisposable? locationReg;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            locationReg =
                _nav.RegisterLocationChangingHandler(OnLocationChanging);
        }
    }

    // We need control over where the user can go once the scenario has begun
    private async ValueTask OnLocationChanging(LocationChangingContext context)
    {
        if (context.TargetLocation == "/")
        {
            // we can go back to index regardless, so reset any timers on taskObj if req
            await ResetTaskAsync();
        }
        else
        {
            if (taskCompleted)
            {
                if (context.TargetLocation != "/" + nextPage)
                {
                    context.PreventNavigation();
                }
            }
            else // this is probably surplus to requirements
            {
                bool cancelChange = false;
                // We want to check if the task has begun yet
                if (taskStarted && !await ConfirmPageExit())
                {
                    cancelChange = true;
                }

                if (cancelChange)
                {
                    context.PreventNavigation();
                }
                else
                {
                    // If it hasn't then it doesn't matter
                    if (context.TargetLocation != "/" + currentPage)
                    {
                        context.PreventNavigation();
                    }
                }
            }
        }
        //return ValueTask.CompletedTask;
    }

    private async Task<bool> ConfirmPageExit()
    {
        if (await JSRuntime.InvokeAsync<bool>(
            "confirm", $"If you leave this page now the task will be reset. Is this OK?"))
        {
            return true;
        }
        return false;
    }

    private async void GoToIndex()
    {
        if (await JSRuntime.InvokeAsync<bool>(
            "confirm", $"If you leave this page now, the task will be reset. Is this OK?"))
        {
            _nav.NavigateTo("/");
        }
    }

    public void Dispose() => locationReg?.Dispose();
}
